:root {
    --gray: #31343d;
    --blue: #92ccce;
    --left: 16px;
  }

header {
    display: flex;
    background-color: var(--gray);
}

body {
    margin: 0px;
    background-color: #eeeef7;
}

.title {
    display: flex;
    color: #31343d;
    background-color: var(--blue);
    padding: 5px;
    padding-left: 40px;
}

.navBar {
    display: flex;
    float: right;
    color:#92ccce;
    border-bottom: 3px solid var(--blue);
    padding-bottom: 3px;
    padding: 10px;
    margin-right: 5px;
}

.navBar2{
    display: flex;
   justify-content: flex-end;
   width: 100%;
   
}

.bodySection {
    display: flex;
    color: var(--gray);
    width: 90%;
}


.bodySection h2 {
    text-align: right;
    padding-left: 80px;
    border-right: 3px solid var(--gray);
    padding-right: 6px;
}

.bodySection p {
    padding-left: var(--left);
    
}

.bodySection #contactMe{
    padding-left: var(--left);
}

.headerImage {
    width: 100%;
}

#fullWidthImage img{
    width: 100%;
    padding-left: var(--left);
    padding-top: 20px;
}

.container {
    position: relative;
    text-align: center;
}

.bottom-right {
    background-color: var(--blue);
    color: var(--gray);
    padding: 10px;
    position: absolute;
    bottom: 40px;
    right: 80px;
  }

.bodyTitle h2{
    height: 100%;
    width: 100px;
}

.bodyTitle{
    padding-bottom: 10px;
}

a{
    vertical-align: middle;
}

.links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    padding-left: var(--left);
}

.contactMeLink
{
    flex: 15%;
    color:var(--gray);
    margin: 5px;
    padding-top: 40px;
    height:50%;
    text-align: center;
    align-items: center;
    font-weight: bold;

}

.row {
    display: flex;
}

.column {
    flex: 50%;
    background-color: var(--gray);
}

.item {
    width: 100%
  }
  
  .imagesContainer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 6px;
  }
  
  .imagesContainer > div {
    flex: 40%;
    padding: 10px;
  }

  #fullWidth {
    flex: 100%;
  }

  .bottom-left {
    position: absolute;
    bottom: 30px;
    left: 10px;
    background-color: var(--blue);
    color: var(--gray);
    padding: 10px;
    text-align: start;
  }

  .bottom-left h3 {
    margin: 0px;
  }

  .bottom-left h5 {
    margin: 0px;
    padding: 5px;
  }


  /* Cards are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
    .imagesContainer > div {
        flex: 100%;
      }
  }